@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f8f9fe;
}
::-webkit-scrollbar-thumb {
  background-color: #5e72e4;
  border-radius: 10px;
}
